head
{
	padding: 0px;
	margin: 5px;
	border: 0px;
}
.loginbg
{

  position:fixed;
  background-image: url("Bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
  filter: brightness(50%);
  
}
.dashbg
{

  position:fixed;
  background-image: url("3d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;

  
}
  div.userpass
{
	
	position:absolute;
	padding:15px;
	left:37%;
	top:35%;
	width: auto;
	height: auto;
	display: inline-block;
	text-align: center;
	float:center;
	border:1px solid #a5a5a5;
	background-color:#edebe9;
	opacity:0.96;
}
.commenttable
{
	position:absolute;
	top:6%;
	left: 35%;
	width: 60%;
	
	
}

.signature
{
    	position:absolute;
	top:60%;
	width: 60%;
        margin:10px;
}
div.loginerror
{

}

.uploadtable
{
	position:absolute;
	width: 20%;
	top: 30%;
	border: 1px solid #a5a5a5;
	opacity:0.96;
	margin:10px;
	background-color:#d1e2f2;
	
}
.drafttable
{
	position:absolute;
	width: 20%;
	top: 45%;
	border: 1px solid #a5a5a5;
	opacity:0.96;
	margin:10px;
	background-color:#d1e2f2;
}
.uploadbox
{
	position:absolute;
	bottom:34%;
	left: 33%;
	width: 33%;
	height: 33%;
	border:1px solid #a5a5a5;
	background-color:#edebe9;
	text-align:center;
	opacity:0.9;
	list-style-type: circle;
}
.exambox
{
	position: absolute;
	left: 33%;
	width: 33%;
	height: auto;
	border:1px solid #a5a5a5;
	background-color:#edebe9;
	text-align:center;
	opacity:0.9;
	list-style-type: circle;

}


.upload
{
	text-align:center;
}

.historybox
{
	position: absolute;
	top: 80%;
	left: 33%;
	width: 33%;
	height: auto;
	border:1px solid #a5a5a5;
	background-color:#edebe9;
	text-align:center;
	opacity:0.9;
	list-style-type: circle;

}


.examtable
{
	position: relative;
	left:15%;

}
table.comments {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td.comments {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) .comments {
  background-color: #dddddd;
}
.navbar.navbar-default
{
	margin:0px;
}
.sidebar
{
	position: absolute;
	left: 0%;
	width: auto;
	padding: 5px;
	height: 85%;
	border:1px solid #a5a5a5;
	background-color:#edebe9;
    list-style-type: circle;
	opacity:0.95;
	-webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
	}
	
.other
	{
		border:1px solid #a5a5a5;
		margin:10px;
		background-color:#edebe9;
		width:20%;
	}
